html {
  background-color: #c9b5ab;
  font-family: "PT", serif;
  line-height: 1.5;
  color: #222;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT", sans-serif;
}

figcaption {
  font-family: "PT",serif;
  font-style: italic;
  text-align: center;
}

nav {

  font-size: 1.125rem;
  font-weight: bold;

  font-family: "PT", sans-serif;
}

nav ol {

  list-style-type: none;
}

nav a {

  color: #8f2440;
  text-decoration: none;

}
nav a:hover {
  color: #3f1622;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}

.serving {
  font-style: italic;
}

> .blockquote

body
